body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.result {
  font-weight: bold;  
  font-size: 25px;
}

.Reset {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 15px;
}

.move-icon {
  height: 50px; 
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 70px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

